<option value="win7ie80"></option>
<option value="winxpie60">Internet Explorer 6.0 (XP)</option>
<option value="winxpie70">Internet Explorer 7.0 (XP)</option>
<option value="winxpie80">Internet Explorer 8.0 (XP)</option>
<option value="winxpfirefox12">Firefox 12.0 (XP)</option>
<option value="win7ie80">Internet Explorer 8.0 (W7)</option>
<option value="win7ie90">Internet Explorer 9.0 (W7)</option>
<option value="win7firefox3">Firefox 3.6.13 (W7)</option>

<!--

<option value="winxpie60">Internet Explorer 6.0 (Windows XP)</option>
<option value="winxpie61">Internet Explorer 6.1 (Windows XP)</option>
<option value="winxpie70">Internet Explorer 7.0 (Windows XP)</option>
<option value="winxpie80">Internet Explorer 8.0 (Windows XP)</option>
<option value="winxpchrome20">Chrome 20.0.1132.47 (Windows XP)</option>
<option value="winxpfirefox12">Firefox 12.0 (Windows XP)</option>
<option value="winxpsafari5">Safari 5.1.7 (Windows XP)</option>

<option value="win2kie60">Internet Explorer 6.0 (Windows 2000)</option>
<option value="win2kie80">Internet Explorer 8.0 (Windows 2000)</option>

<option value="win7ie80">Internet Explorer 8.0 (Windows 7)</option>
<option value="win7ie90">Internet Explorer 9.0 (Windows 7)</option>
<option value="win7chrome20">Chrome 20.0.1132.47 (Windows 7)</option>
<option value="win7firefox3">Firefox 3.6.13 (Windows 7)</option>
<option value="win7safari5">Safari 5.1.7 (Windows 7)</option>

<option value="osx10safari5">Safari 5.1.1 (MacOS X 10.7.2)</option>
<option value="osx10chrome19">Chrome 19.0.1084.54 (MacOS X 10.7.4)</option>

<option value="linuxchrome26">Chrome 26.0.1410.19 (Linux)</option>
<option value="linuxchrome30">Chrome 30.0.1599.15 (Linux)</option>
<option value="linuxfirefox19">Firefox 19.0 (Linux)</option>

<option value="galaxy2chrome18">Chrome 18.0.1025.166 (Samsung Galaxy S II, Android 4.0.3)</option>
<option value="galaxy2chrome25">Chrome 25.0.1364.123 (Samsung Galaxy S II, Android 4.0.3)</option>
<option value="galaxy2chrome29">Chrome 29.0.1547.59 (Samsung Galaxy S II, Android 4.1.2)</option>

<option value="nexuschrome18">Chrome 18.0.1025.133 (Google Nexus, Android 4.0.4)</option>

<option value="ipadsafari7">Safari 7.0 (iPad, iOS 7.0.4)</option>
<option value="ipadchrome33">Chrome 33.0.1750.21 (iPad, iOS 7.1)</option>
-->